<div class="list-group-item" id="task-<%= task.id %>">
  <div class="row">
    <div class="col-xs-10 col-sm-11" id="task">
      <%= best_in_place task, :description, type: :input, inner_class: "bip-task-styling" %>
    </div>
    <div class="col-xs-2 col-sm-1">
      <div class="pull-right">
        <span class="badge" id="checkbox"><%= link_to "", task,
          method: :delete, class: 'glyphicon glyphicon-unchecked', remote: true %></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <span class="badge" id="<%= task.days_left < 2 ? 'one-day-remaining' : 'days-remaining' %>">
        <%= pluralize(task.days_left, 'day') %> left</span>
    </div>
  </div>
</diV>