<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blocitoff</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-default nav-bar-static-top" id="navbar">
      <div class="container-fluid" id="nav-container">
        <div class="navbar-header">
          <%= link_to "Blocitoff", root_path, class: "navbar-brand", id: "brand" %>
          <button type="button" class="navbar-toggle" id="nav-button"
                  data-toggle="collapse"
                  data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar" id="bar"></span>
            <span class="icon-bar" id="bar"></span>
            <span class="icon-bar" id="bar"></span>
          </button>
        </div>
        <ul class="nav navbar-nav navbar-right collapse navbar-collapse" id="nav-options">
          <% if current_user && current_user.list %>
            <li><%= link_to "My List", current_user.list, class: "navbar-element" %></li>
          <% else %>
            <li><%= link_to "New List", new_list_path, class: "navbar-element" %></li>
          <% end %>
            <li><%= link_to "About", about_path, class: "navbar-element" %></li>
          <% if current_user %>
            <li><%= link_to "Profile", edit_user_registration_path, class: "navbar-element"  %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, id: "sign-out-link", class: "navbar-element" %></li>
          <% else %>
            <li><%= link_to "Sign In", new_user_session_path, id: "sign-in-link", class: "navbar-element" %></li>
            <li><%= link_to "Sign Up", new_user_registration_path, id: "sign-up-link", class: "navbar-element" %></li>
          <% end %>
        </ul>
      </div>
    </div>
    
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:error] %>
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:error] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
    <% end %>
    
    <div class="container" id="content-container">
      <div class="row" id="content-row">
        <%= yield %>
      </div>
    </div>
  </body>
</html>